body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,97,64,1) 0%, rgba(0,212,255,1) 100%);
}

header {
  text-align: center;
  color: white;
}

.char {
  background: rgb(94,100,138);
background: radial-gradient(circle, rgba(94,100,138,1) 0%, rgba(31,69,77,0.335171568627451) 50%);
border-radius: 10px;
margin-bottom: 40px;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn:hover {
  background: rgb(255, 230, 0);
}

.result {
  text-align: center;
  color: rgb(0, 255, 13);
}